html,body{
	font-family: 'Srisakdi', cursive;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	background-color: #fbfbf8;
	text-align: center;

}
header h1{
    margin: 0;
    height: 70px;
    font-size: 1.3rem;
    color: white;
    background: linear-gradient( to right, rgb(215, 168, 79), rgba(94, 165, 117, 0.77));
    padding-top: 20px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.result{
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
	background-color: white;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	box-shadow: 2px 2px 15px grey;
}
ul{
	list-style: none;
	padding: 0px;
}
li{
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 4px;
	margin-top: 4px;
}
hr{
	width: 80%;
    margin: 0 auto;
    border-color: rgba(214, 214, 223, 0.19);
}
select{
	 border-radius: 10px;
}
button{
	height: 30px;
	background-color: #b2ad89;
	border-radius: 10px;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
.errorMsg{
	color: red;
	display: none;
}